body {
    background: #ccc;
}

#title, .subtitle, .post_title {
    color: blue;    
}

.post_title {
    font-size: 16px;
    font-style: italic;
}

.post {
    background: #fff;
    padding: 30px;
    border: 3px solid cyan;
    margin: 10px;
}