body {
    background: #f7f7f7;
}

.photo {
    border: 5px solid #505050;
    border-radius: 50%;
}

#title, .subtitle, .post_title {
    color: #505050;    
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: #fff;
    padding: 15px;
    border: 3px solid cyan;
    margin-bottom: 15px;
    border-radius: 10px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
}

.post_image {
    margin-bottom: 15px;
}